*{
    margin: 0%;
    padding: 0%;
}
body{
    width: 90%;
    margin: auto;
    font-family: 'Poppins', sans-serif;
}
.interactive-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;
    background-color: #e7f4fb;
    padding: 1% 3%;
    border-radius: 10px;   
}
.heading h1{
    font-size: 2rem;
}
.heading h3{
    font-size: 1rem;
    padding: 0%;
    color: #888f93;
    letter-spacing: 0.1ch;
    margin-top: -5%;
}
.btn-blog{
    border: none;
    background-color: #1090d8;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    padding: 7px 30px;
    border-radius: 5px;
}
.btn-blog:hover{
    background-color: #00659f;
}

/* shape container */
main{
    display: flex;
    justify-content: space-between;
    gap: 2%;
    margin: 5% 0%;
}
.shape-container{
    gap: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.box{
    text-align: center;
    border: 1px solid rgb(218, 227, 235);
    border-radius: 5px;
    padding: 5%;
    transition: all 0.75s ease-in-out;
}
.box img{
    width: 70%;
    height: 40%;
    margin-bottom: 5%;
}
.input-area{
    display: flex;
    gap: 5px;
    margin: 2% 0 5% 0;
    justify-content: center;
}
.input-area input{
    width: 10%;
    background-color: rgb(224, 225, 225);
    border: none;
    border-radius: 5px;
    padding: 2%;
}
button{
    border: none;
    background-color: #1090d8;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    padding: 5% 30%;
    border-radius: 5px;
}
button:hover{
    background-color: #00659f;
}
.area-container{
    padding: 2% 5%;
    text-align: center;
    border: 1px solid rgb(218, 227, 235);
}
.calculation-box-container{
    width: 30%;
    padding-bottom: 30%;
    font-size: 1vw;
}
.list-area{
    margin-top: 5%;
}
.box-list{
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    font-weight: 600;
    align-items: center;
}
.triangle-none{
    display: none;
}
.rectangle-none{
    display: none;
}
.list-button{
    border: none;
    background-color: #1090d8;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    padding: 2% 3%;
    border-radius: 5px;
}
.list-button:hover{
    background-color: #00659f;
}
li{
    padding-bottom: 5%;
}